html, body {
    margin: 0px;
    padding: 0px;
    border: 0px;
}

body {
    width: 800px;
    min-width: 800px;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 14px;
}

a:link {
    color: #000000;
}
a:visited {
    color: #000000;
}

#user {
    margin-bottom: 5px;
}

#container {
    width: 760px;
    margin: 0 0 0 20px; /* top right bottom left */
    padding: 0;
 }
 
#container #header {
    margin: 0;
    padding: 0;
    width: 100%;
    float: left;
    border-bottom: #c00 solid 3px;
}

#container #footer {
    float: left;
    width: 760px;
    border-top: #c00 solid 3px;
}

#container #title {
    display: inline;
    float: left;
    margin: 0px;
}

#container #createdby {
    display: inline;
    float: right;
    margin: 0px;
}

.column {
    width: 170px;
    padding: 15px 10px;
}

#container #col1 {
    float: left;
    background-color: #fff689;
}
#container #col2outer {
    width: 570px;
    float: right;
    margin: 0;
    padding: 0;
}

#col2outer #col2 {
    float: left;
    background-color: #ffa7a7;
}
 
#col2outer #col3outer {
    width: 380px;
    float: right;
    margin: 0;
    padding: 0;
}

#col3outer #col3 {
    float: left;
    background-color: #89ffa2;
}

#col3outer #col4 {
    float: right;
    background-color: #b2f0f9;
}
